<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2> List Celebrities</h2>

    <h1><%= celebrities.name %></h1>
    <h2><%= celebrities.ocuppation %></h2>
    <p><%= celebrities.catchPhrase %></p>

  </body>
</html>
